:root{

--bg:#0d1117;

--card:#161b22;

--main:#00bfff;

--text:#ffffff;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0d1117;
    color:white;
}

header{

    position:fixed;
    width:100%;
    top:0;

    backdrop-filter:blur(12px);

    background:rgba(13,17,23,.7);

    z-index:1000;

}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.hero span{
    color:#00bfff;
}

button{
    margin-top:20px;
    padding:12px 30px;
    border:none;
    border-radius:10px;
    background:#00bfff;
    color:white;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.1);
}

section{
    padding:100px 10%;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
    margin-top:30px;
}

.card{
    background:#161b22;
    padding:25px;
    text-align:center;
    border-radius:12px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
    background:#00bfff;
}

.project{
    margin-top:30px;
    background:#161b22;
    padding:30px;
    border-radius:12px;
}
#particles-js{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
background:#0d1117;
}
.social{

margin-top:35px;

}

.social a{

color:white;

font-size:35px;

margin:15px;

transition:.4s;

}

.social a:hover{

color:#00bfff;

transform:translateY(-8px);

}
button,
.btn{

    padding:14px 32px;
    border:none;
    border-radius:50px;

    background:linear-gradient(135deg,#00bfff,#6a5cff);

    color:#fff;
    font-size:16px;
    font-weight:bold;

    cursor:pointer;

    transition:.4s;

    box-shadow:0 10px 30px rgba(0,191,255,.35);

}

button:hover,
.btn:hover{

    transform:translateY(-5px) scale(1.05);

    box-shadow:0 15px 40px rgba(0,191,255,.6);

}

button:active,
.btn:active{

    transform:scale(.97);

}
.menu-btn{

    display:none;
    font-size:30px;
    cursor:pointer;
    color:white;

}

@media(max-width:768px){

    .menu-btn{

        display:block;

    }

    .nav-links{

        position:fixed;

        top:0;
        right:-100%;

        width:280px;
        height:100vh;

        background:#161b22;

        display:flex;
        flex-direction:column;

        justify-content:center;
        align-items:center;

        gap:35px;

        transition:.4s;

        z-index:999;

    }

    .nav-links.active{

        right:0;

    }

    .nav-links li{

        list-style:none;

    }

    .nav-links a{

        color:white;
        text-decoration:none;
        font-size:22px;

    }

}